VITE_API_BASE_URL=http://127.0.0.1:8000/api
VITE_TELEGRAM_BOT_USERNAME=
VITE_TELEGRAM_QR_PROVIDER=https://api.qrserver.com/v1/create-qr-code/
VITE_FF_ENABLE_COMMODITIES=true
VITE_FF_ENABLE_CRYPTO=true
VITE_FF_ENABLE_CLUSTERING=true
VITE_FF_ENABLE_FORECASTING=true
